.container {
    margin: 1.0rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form mat-form-field {
    margin: 10px;
    width: 50%;
}

.container form button {
    max-width: 150px;
}