.container {
    margin: 0.75rem;
    width: 25vw;
    min-width: 200px;
    max-width: 400px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button, a {
    margin: 10px;
}

